{% extends 'base.html.twig' %}

{% block title %}Hello SecurityController!{% endblock %}

{% block body %}

<div class="container">
    <h1 class="text-center" >Connexion</h1>
    <form action="" method="post">
    <div class="mb-3">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="_username" required>
    </div>

    <div class="mb-3">
        <label for="password">Mot de passe</label>
        <input type="password" class="form-control" name="_password" required>
    </div>

        <button  class="btn btn-primary" type="submit">Se connecter</button>
    </form>
</div>
{% endblock %}
